/* Margins and Box Model */

body {
    background-color: #fff;
}
h1 {
    font-family: monospace;
}

h2, h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

small {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: lightslategray;
}

label {
    font-family: 'Quicksand', sans-serif;
    font-style: italic;
    text-decoration: black;
    font-size: 11px;
}

p {
    font-family: 'Quicksand', sans-serif;
}

li {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}

li li {
    font-family: 'Quicksand', sans-serif;
    font-size: 11px;
}
/* Selectors */
#cat-image:hover {
    border: 4px solid;
    border-color: lightcoral;
}

/* Flexbox styling */

.flexbox-nav {
    display: flex;
    position: relative;
    background-color: lightblue;
    justify-content: space-around;
    padding: 10px 0px 10px 0px;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: linen;
}

.flexbox-item {
    margin: 10px 20px 10px 20px;
    background-color:lightsteelblue;
    border: 2px solid;
    border-color: slategrey;
}

.flexbox-entry1 {
    display: flex;
    align-items: baseline;
    justify-content:space-around;
}

.flexbox-entry1-highlights-todo {
    display: flex;
    flex: 1 1 33.33%;
    justify-content: center;
    flex-direction: column;
    padding: 0px 0px 0px 25px;
}

.flexbox-entry1-thoughts-picture {
    display: flex;
    flex: 2 1 66.66%;
    justify-content:space-evenly;
    flex-direction: column;
    padding: 0px 25px 5px 0px;
}

.nav-button {
    background-color: lightgray;
    border: 1px solid;
}

.nav-button:hover {
    background-color: lightseagreen;
}

@media screen and (max-width: 400px){
    div:.nav {
        display: none;
    }
}

/* Grid styling */

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 5px;
    
    border: 2px solid;
    background-color: lightpink;
}

.grid-item {
    border: 2px solid;
    padding: 10px;
    margin: 10px;
}

.grid-title {
    background-color: lightskyblue;
    grid-column: 1 / 3;
}

.grid-highlights-todo {
    background-color: lightsteelblue;
}

.grid-thoughts-song {
    background-color: lightgreen;
}

.grid-container-two {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 5px;
    
    border: 2px solid;
    background-color: lightcyan;
}

.grid-title2 {
    background-color: lightseagreen;
    grid-column: 1 / 3;
}

.grid-highlights-todo2 {
    background-color: lightyellow;
}

.grid-thoughts-vid {
    background-color: lightsalmon;
}

*.footer {
    border: 1px solid;
}